#MS .content .main .left {
    width:160px;
    float:left;
    background:url("../images/right_bg.gif");
}
#MS .content .main .left .bt {
    width:160px;
}
.tree {
    border-right:1px #ccc solid;
    clear:both;
}
.tree li span {
    font-size:14px;
    font-weight:bold;
}
.tree li ul span {
    font-size:12px;
    font-weight:normal;
}
.tree #treeDemo_1 {
    margin-top:5px;
}
#MS .content .main .left .list {
    padding:10px 0;
    width:159px;
    border-right:1px #ccc solid;
}
#MS .content .main .left .list .title {
    background: url("../images/bg02.png") no-repeat scroll 20px -603px transparent;
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    margin-bottom: 8px;
    overflow: hidden;
    text-indent: 40px;
}
#MS .content .main .left .list table {
    padding-left:20px;
    line-height:26px;
}
#MS .content .main .left .list table a {
    background: url("../images/list_style.gif") no-repeat scroll 5px -77px transparent;
    display: block;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    margin: 0;
    text-decoration: none;
    text-indent: 14px;
    color:#ED4E00;
}
/*#MS .content .main .left .list table a {
    background: url("../images/list_style.gif") no-repeat scroll 26px -76px transparent;
    color: #333333;
    display: block;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    margin: 0;
    text-decoration: none;
    text-indent: 34px;
}*/
#MS .content .main .left .list .title2 {
    background: url("../images/bg02.png") no-repeat scroll 20px -669px transparent;
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    margin-bottom: 8px;
    overflow: hidden;
    text-indent: 40px;
}
#MS .content .main .left .list .space {
    background: none repeat scroll 0 0 #E1E1E1;
    font-size: 1px;
    height: 1px;
    margin: 10px auto;
    width: 148px;
}
#MS .content .main .left .list .treelist {
    line-height:26px;
    margin:0 5px 5px 5px;
    border-bottom:1px #eee solid;
}
#MS .content .main .left .list .treelist ul {
    position:relative;
}
#MS .content .main .left .list .treelist ul li {
    float:left;
    width:73px;
    position:relative;
    z-index:0;
}
#MS .content .main .left .list .treelist ul li a {
    display:block;
    padding-left:13px;
    text-decoration:none;
    color:#666;
}
#MS .content .main .left .list .treelist ul li a:hover {
    color:#ED4E00;
}
#MS .content .main .left .list .treelist ul li:hover {
    z-index:1;
}
#MS .content .main .left .list .treelist ul li a.ex {
    background: url("../images/list_style.gif") no-repeat scroll 5px -77px transparent;
}
#MS .content .main .left .list .treelist ul li .ex_arrow {
    position:absolute;
    top:7px;
    left:70px;
    width:9px;
    height:11px;
    background:url(../images/arrow.png) 0 0 no-repeat;
    z-index:3;
}
#MS .content .main .left .list .treelist ul li .ex_box {
    position:absolute;
    top:-10px;
    left:76px;
    background:#fff;
    border:3px #ccc solid;
    border-radius:3px;
    z-index:2;
    padding:10px 20px;
    width:530px;
    display:block;
}
#MS .content .main .left .list .treelist ul li .ex_box span {
    display:inline-block;
    width:100px;
    color:#ccc;
}
#MS .content .main .left .list .treelist ul li .ex_box a {
    padding-left:1px;
    display:inline-block;
}
#MS .content .main .left .list .treelist h1 {
    padding-left:12px;
}
#MS .content .main .left .list .treelist2 {
    line-height:26px;
    margin:0 10px 5px 10px;
}
#MS .content .main .left .list .treelist2 ul li a .red {
    color:#ed4e00;
}
#MS .content .main .left .list .treelist2 ul li a {
    text-decoration:none;
    color:#333;
    padding-left:13px;
    display:inline-block;
    background: url("../images/list_style.gif") no-repeat scroll 5px -77px transparent;
}